In [9]:
import numpy as np
import pandas as pd
import seaborn as sns

In [10]:
df = pd.read_parquet("../dataset/etl/L3.correlations.parquet")
df.head()

             variable      method         r         pvalue
0      tags_bisa_nego  pointbiser -0.014723   4.677036e-02
1  tags_cash_bertahap  pointbiser -0.236766  8.352566e-231
2     tags_cash_keras  pointbiser -0.146750   2.423117e-88
3   tags_dijual_cepat  pointbiser  0.016894   2.250845e-02
4        tags_komplek  pointbiser -0.072232   1.553275e-22

In [11]:
len(df[np.abs(df["r"]) > 0.1])

31

In [12]:
len(df[df["pvalue"] < 0.05])

57

In [13]:
def formatter_pvalue(x):
  return "color: red" if x < 0.05 else None

df.style.map(formatter_pvalue, subset=["pvalue"])